@{
    ViewData["Title"] = "Blog - Informações Úteis";
}
<div id="scrollbar" class="container-fluid pt-0">
    <div class="container">
        <h2 class="pag_title">Blog - Informações Úteis</h2>
        <div class="blog_grid">
            <div class="blog">
                <div class="blog_card" onClick="view()">
                    <div class="imgBox">
                        <img src="./img/banner-primeiros-passos.svg" alt="" />
                    </div>
                    <div class="detail">
                        <label class="blog_title">Primeiros Passos </label>
                        <label class="blog_descript">
                            Saiba quais são os primeiros passos para
                            solicitar refúgio no Brasil.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Como solicitar refúgio</h3>
                        <p>
                            O <strong>primeiro passo</strong> é saber se você se encaixa no perfil previsto pela Lei Nº 9.474, responsável pela implementação do Estatuto dos Refugiados. 
                            Existem três possíveis condições para se tornar elegível: <br />
                            <p style='text-align: center, '> <em>
                                 “<strong>I</strong> - devido a fundados temores de perseguição por motivos de raça, religião, nacionalidade, grupo social ou opiniões políticas encontre-se 
                            fora de seu país de nacionalidade e não possa ou não queira acolher-se à proteção de tal país; <br />
                           <strong>II</strong>  - não tendo nacionalidade e estando fora do país onde antes teve sua residência habitual, não possa ou não queira regressar a ele, em função 
                            das circunstâncias descritas no inciso anterior; <br />
                            <strong>III</strong>  - devido a grave e generalizada violação de direitos humanos, é obrigado a deixar seu país de nacionalidade para buscar refúgio em outro país.” 
                            </em>
                            (BRASIL, 1997) </p> 
                            <br />
                            E esse reconhecimento pode ser estendido ao cônjuge, aos ascendentes e descentes, assim como outros membros familiares. Para entender melhor sobre a 
                            Lei que define as mecânicas do Estatuto dos Refugiados, <a href="http://www.planalto.gov.br/ccivil_03/leis/l9474.htm" alt="Lei 9.474">leia aqui.</a>
                            <br />
                            <br />
                            O <strong>pedido de refúgio</strong> deve ser formalmente feito perante a Polícia Federal para que seja emitido um <strong>>documento temporário</strong>,
                            chamado <em>Documento Provisório de Registro Nacional Migratório (DPRNM).</em> Esse documento garante direito da pessoa solicitante de permanecer no País 
                            até a decisão final do processo. Também permite a emissão da Carteira de Trabalho provisória, acesso ao Sistema Único de Saúde (SUS) e as Instituições Públicas de Ensino.
                            <br />
                            <br />
                            No Brasil, o órgão público responsável pela análise dos pedidos é a <strong>CONARE (Comitê Nacional para os Refugiados).</strong> O processo possui duas etapas: 
                            a primeira consiste em analisar os fatos pertinentes do caso, ou seja, ouvir a história do solicitante e apurar os fatos que o levaram a situação 
                            de refúgio; A segunda fase, aplica-se os critérios do Direito Internacional dos Refugiados aos fatos, para saber se ela realmente configura a 
                            posição de “pessoa refugiada”. (Jubilut, L. et al., 2021) 
                            <br />
                            Entenda melhor
                            <a href="https://www.acnur.org/portugues/wp-content/uploads/2021/09/Reconhecimento-de-Status-de-Refugiado-pelo-Brasil-Dados-dos-primeiros-20-anos-da-Lei-9.474-de-1997-Jubilut-et-al.pdf" alt="Artigo sobre reconhecimento do Status de Refugiado pelo Brasil">lendo aqui.</a> 

                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog2">
                <div class="blog_card" onClick="view2()">
                    <div class="imgBox">
                        <img src="./img/banner-estudos.svg" alt="" />
                    </div>
                    <div class="detail">
                        <label class="blog_title">Acesso à Educação </label>
                        <label class="blog_descript">
                            Saiba sobre as oportunidades de estudo, de todos os níveis, no Brasil.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Escolas Públicas</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                            <h3>Universidades Públicas</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                        </p>
                    </div>
                </div>
            </div>


            <div class="blog blog3">
                <div class="blog_card" onClick="view3()">
                    <div class="imgBox">
                        <img src="./img/banner-estudos.svg" alt="" />
                    </div>
                    <div class="detail">
                        <label class="blog_title">Acesso à Saúde Pública </label>
                        <label class="blog_descript">
                            Saiba como se cadastrar no SUS e conheça os programas
                            de saúde pública voltados para pessoas em situação de refúgio.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Como se cadastrar no SUS</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                        </p>
                        <h3>Programas de assistência especial </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog4">
                <div class="blog_card" onClick="view4()">
                    <div class="imgBox">
                        <img src="./img/banner-estudos.svg" alt="" />
                    </div>
                    <div class="detail">
                        <label class="blog_title">Idioma</label>
                        <label class="blog_descript">
                            Confira dicas de ONG's que prestam curso de idioma especialmente
                            para pessoas em situação de refúgio.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Cursos de Português-BR para pessoas Refugiadas</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog5">
                <div class="blog_card" onClick="view5()">
                    <div class="imgBox">
                        <img src="./img/banner-cidadania.svg" alt="" />
                    </div>
                    <div class="detail">
                        <label class="blog_title">Empregabilidade</label>
                        <label class="blog_descript">
                            Saiba como emitir a Carteira de Trabalho e os principais direitos trabalhistas no Brasil.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Como emitir a Carteira de Trabalho (CTPS) </h3>
                        <p>
                            Primeiro, é necessário ter o <strong>Documento Provisório de Registro Nacional Migratório (DPRNM).</strong> Com ele e o CPF, é possível emitir a Carteira de Trabalho
                            através <a href="https://www.gov.br/pt-br/servicos/obter-a-carteira-de-trabalho" alt="Site do Governo Federal para emissão da Carteira de Trabalho">desse link</a>. 
                            É necessário fazer um cadastro para acessar os serviços oferecidos pelo Site do Governo Federal.
                            <br />
                            <br />
                            Para saber mais e conferir oportunidades, acesse a <a href="https://trampolimcaritasrj.org/" alt="Plataforma Trampolim"> Plataforma Trampolim. </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog6">
                <div class="blog_card" onClick="view6()">
                    <div class="imgBox">
                        <img src="./img/banner-documentacao.svg" alt="" />
                    </div>
                    <div class="detail">
                        <label class="blog_title">Violência</label>
                        <label class="blog_descript">
                            Saiba o que fazer em casos de violência e discriminação.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Leis de proteção a pessoa refugiada </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                        </p>
                        <h3>Programas de assistência especial</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            enim faucibus, sollicitudin risus id, vehicula nibh. Nullam vel nulla
                            blandit elit bibendum tristique. Duis eleifend id turpis sed pretium.
                            Quisque pretium convallis vulputate. Phasellus aliquam metus ac sem
                            lacinia pulvinar. Quisque tristique sem eu enim tincidunt, non suscipit
                            dui dignissim. In sollicitudin ipsum enim, vestibulum hendrerit lectus
                            maximus ac.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
         blog = document.querySelector(".blog").classList;

         var view = function () {
           if (blog.contains("active")) {
             blog.remove("active");
           } else {
             blog.add("active");
           }
         };

         blog2 = document.querySelector(".blog2").classList;

         var view2 = function () {
           if (blog2.contains("active")) {
             blog2.remove("active");
           } else {
             blog2.add("active");
           }
         };

         blog3 = document.querySelector(".blog3").classList;

         var view3 = function () {
           if (blog3.contains("active")) {
             blog3.remove("active");
           } else {
             blog3.add("active");
           }
         };

         blog4 = document.querySelector(".blog4").classList;

         var view4 = function () {
           if (blog4.contains("active")) {
             blog4.remove("active");
           } else {
             blog4.add("active");
           }
         };

         blog5 = document.querySelector(".blog5").classList;

         var view5 = function () {
           if (blog5.contains("active")) {
             blog5.remove("active");
           } else {
             blog5.add("active");
           }
         };

        blog6 = document.querySelector(".blog6").classList;

         var view6 = function () {
           if (blog6.contains("active")) {
             blog6.remove("active");
           } else {
             blog6.add("active");
           }
         };
    </script>



</div>